<div style="background:#000000;background-color:#000000;margin:0px auto;max-width:600px;">
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#000000;background-color:#000000;width:100%;">
<tbody><tr>
<td style="direction:ltr;font-size:0px;padding:0px;text-align:center;">
<div class="content-padding kl-last">

<div class="kl-row colstack" style="display:table;table-layout:fixed;width:100%;">
<div class="kl-column" style="display:table-cell;vertical-align:top;width:50%;">

<!-- Logo -->
<div class="mj-column-per-100 mj-outlook-group-fix component-wrapper" style="font-size:0px;text-align:left;direction:ltr;vertical-align:top;width:100%;">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;" width="100%">
<tbody><tr>
<td style="vertical-align:top;padding:27px 18px 0px 18px;">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
<tbody><tr>
<td align="left" class="kl-image" style="font-size:0px;word-break:break-word;">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;">
<tbody><tr>
<td style="border:0;padding:0px;width:230px;" valign="top">
<a href="{{ organization.url }}" style="color:#444; text-decoration:underline; display:block">
<img alt="{{ organization.name }}" src="https://d3k81ch9hvuctc.cloudfront.net/company/XbHdQN/images/82cac524-3eb2-4807-a508-af61cee50920.png" style="display:block;outline:none;text-decoration:none;height:auto;font-size:13px;width:100%;" width="230"/>
</a>
</td>
</tr></tbody>
</table>
</td>
</tr></tbody>
</table>
</td>
</tr></tbody>
</table>
</div>

<!-- Social Icons -->
<div class="mj-column-per-100 mj-outlook-group-fix component-wrapper" style="font-size:0px;text-align:left;direction:ltr;vertical-align:top;width:100%;">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;" width="100%">
<tbody><tr>
<td style="vertical-align:top;padding:9px 30px;">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
<tbody><tr>
<td>
<div style="width:100%;text-align:left">
<div style="display:inline-block;padding-right:12px;">
<div style="text-align: center;"><a href="https://www.facebook.com/depologyskincare" target="_blank"><img alt="Facebook" src="https://d3k81ch9hvuctc.cloudfront.net/company/XbHdQN/images/a8ca6d02-61db-4641-bc0e-cbe61d23d563.png" style="width:30px;" width="30"/></a></div>
</div>
<div style="display:inline-block;padding-right:12px;">
<div style="text-align: center;"><a href="https://www.instagram.com/depologyskincare/" target="_blank"><img alt="Instagram" src="https://d3k81ch9hvuctc.cloudfront.net/company/XbHdQN/images/b2baf081-c148-44a5-9793-96be804b238f.png" style="width:30px;" width="30"/></a></div>
</div>
<div style="display:inline-block;padding-right:12px;">
<div style="text-align: center;"><a href="https://www.tiktok.com/@depology" target="_blank"><img alt="TikTok" src="https://d3k81ch9hvuctc.cloudfront.net/company/XbHdQN/images/df012502-6c20-496b-b7eb-db6c6c603e3b.png" style="width:30px;" width="30"/></a></div>
</div>
<div style="display:inline-block;padding-right:12px;">
<div style="text-align: center;"><a href="https://www.pinterest.co/depologyskincare/" target="_blank"><img alt="Pinterest" src="https://d3k81ch9hvuctc.cloudfront.net/company/XbHdQN/images/8149ca4d-d368-4ec0-ab45-8b6d815399c8.png" style="width:30px;" width="30"/></a></div>
</div>
<div style="display:inline-block;padding-right:12px;">
<div style="text-align: center;"><a href="https://www.youtube.com/c/DepologySkincare" target="_blank"><img alt="YouTube" src="https://d3k81ch9hvuctc.cloudfront.net/company/XbHdQN/images/803eb370-a807-4966-9f69-7cbf9e73a61b.png" style="width:30px;" width="30"/></a></div>
</div>
</div>
</td>
</tr></tbody>
</table>
</td>
</tr></tbody>
</table>
</div>

</div>

<div class="kl-column" style="display:table-cell;vertical-align:top;width:50%;">

<!-- Copyright + Unsubscribe -->
<div class="mj-column-per-100 mj-outlook-group-fix component-wrapper" style="font-size:0px;text-align:left;direction:ltr;vertical-align:top;width:100%;">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;" width="100%">
<tbody><tr>
<td style="vertical-align:top;padding:25px 18px 2px 18px;">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
<tbody><tr>
<td align="left" class="kl-text" style="font-size:0px;padding:0px;word-break:break-word;">
<div style="font-family:'Aktiv Regular + Bold', Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;letter-spacing:0px;line-height:1.5;text-align:left;color:#171516;">
<div style="line-height: 100% !important; text-align: left;">
<span style="color: #f7f7f7; text-transform: uppercase; font-family: futura-pt, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; font-weight: 500; font-size: 14px;">
&copy; {{ organization.name }}, <br/>
<span style="font-size: 10px; color: #d9d9d7;">{{ organization.full_address }}</span><br/><br/><br/>
<span style="text-decoration: underline;"><span style="color: #ffffff; text-decoration: underline;"><a href="{% unsubscribe_link %}" style="color:#fff; text-decoration:underline; font-weight:500">UNSUBSCRIBE</a></span></span>
</span>
</div>
</div>
</td>
</tr></tbody>
</table>
</td>
</tr></tbody>
</table>
</div>

</div>
</div><!-- /kl-row -->

</div><!-- /content-padding -->
</td>
</tr></tbody>
</table>
</div>
</td>
</tr></tbody>
</table>
</div>
</td></tr></tbody>
</table>

</div><!-- /root-container-spacing -->
</div><!-- /root-container -->
